PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/ugcnet_alerts
SCRAPE_INTERVAL_MINUTES=10
SOURCE_HOME=https://ugcnet.nta.nic.in/
SOURCE_NOTICES_2026=https://ugcnet.nta.nic.in/document-category/public-notices-2026/
SOURCE_NTA_HQ=https://nta.ac.in/
SOURCE_NBA=https://www.nbaind.org/
SOURCE_NBA_LATEST=https://www.nbaind.org/Home/latest
SOURCE_NBA_NEWS=https://www.nbaind.org/Home/LatestNewsFetch
SOURCE_AICTE=https://www.aicte.gov.in/
SOURCE_AICTE_ANNOUNCEMENTS=https://www.aicte.gov.in/bulletins/annoucement
SOURCE_AICTE_CIRCULARS=https://www.aicte.gov.in/bulletins/circulars
SOURCE_AICTE_ADVERTISEMENTS=https://www.aicte.gov.in/bulletins/advertisements
FRONTEND_ORIGIN=http://localhost:5173
